#menuBar{
  display:block;
  position:fixed; 
  background-color: rgb(240,240,240);
  user-select: none;
  -webkit-user-select:none;
  width:100%;
  top:0;
  z-index:100;
}

#menuBar ul{
  margin:0;
  padding:0;
  display:block;
  list-style-type:none;
  border-color:#FF8533;
}

#menuBar>ul>li{
  position:relative;
  display:inline-block;
  float:left;
  padding:3px 4px;
}

#menuBar ul ul>li>div{
  margin:auto;
  width:100%;
  display:inline-block;
}

#menuBar li:hover{
  /*background-color:#FF8330;*/
  /*background-color:rgb(45,96,216);*/
  background-color:rgb(102, 153, 255);
  cursor:pointer;
}

#menuBar ul ul{
  display:none;
  position:absolute;
  left:-1px;
  top:22px;
  background-color: #FFF;
  border-style:solid;
  border-color:rgb(200,200,200);
  border-width: 1px;
  border-top:none;
  border-radius:0px 0px 4px 4px;
  z-index:110;
  padding:3px 0;
}

#menuBar ul ul ul{
  top:0;
  z-index:130;
  border-style:solid;
  border-color:rgb(200,200,200);
  border-width: 1px;
  border-radius:4px;
}

#menuBar li.spacer{
  background-color:rgb(200,200,200);
  height:2px;
  padding:0;
  margin:3px 0;
}

#menuBar ul li:hover>ul{
  display:block;
}

#menuBar ul ul>li{
  display:block;
  padding:3px;
}

#menuBar ul ul>li:last-child{
  border:none;
}

#menuBar ul ul ul>li:last-child{
  border:none;
}