html,body,div,table,tr,td,th{
	margin:0;
	padding:0;
    font-family:arial;
    font-size:14px;
}
table,th,tr,td{
	border-collapse: collapse;
}

body{
	background-color:#FFFFFA;
}

#config-panel li.spacer{
    background-color:rgb(200,200,200);
    height:2px;
    padding:0;
    margin:6px 0;
}

#config-panel li.paramListSubtitle{
    text-align:center;
    margin-top:3px;
    margin-bottom:6px;
}

#colorPickPanelWrapper{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:300;
    display:none;
    background-color:rgba(0,0,0,0.5);
}

#colorPickPanel{
    display:table-cell;
    vertical-align:middle;
}

#colorPickPanelContent{
    display:table;
    text-align:center;
    width:300px;
    margin:auto;
    border-style:outset;
    border-color:#FF8533;
    border-width: 3px;
    background-color:white;
}

#collapseButton{
	position:fixed;
	left:0;
	bottom:0;
	width:20px;
	height:18px;
	padding:0;
	z-index:300;
}
#controls-wrapper{
	width:100%;
	position:fixed;
	bottom:0;
	height:49px;
	background-color:#333333;
	overflow:auto;
	z-index:100;
}
#controls-wrapper ul li input{
	vertical-align:middle;
}
#main-container{
	height:100%;
	padding-bottom:49px;
    padding-top:22px;
}
#files-container{
	position:fixed;
	top:0;
	left:0;
	z-index:50;
	/*width:200px;*/
	height:100%;
	float:left;
	margin:0px;
    margin-top:22px;
	background-color:#E6E6E6;
	overflow:auto;
}
#files{
	/*width:180px;*/
	/*height:100%;*/
	padding:10px;
    padding-bottom:79px;
}
#closeFilesButton{
    position:absolute;
    top:0;
    right:0;
}
#multiDragInput{
	background-color:blue;
	height:100px;
	margin-bottom:10px;
}

#config-panel{
	margin:auto;
    margin-top:10px;
    padding:4px;
    width:300px;
    position:relative;
    border-style:solid;
    border-color:rgb(200,200,200);
    border-width: 1px;
    border-radius:4px;
    background-color: rgb(240,240,240);
}

#config-panel li{
	margin:6px;
}

#config-panel textarea{
    resize:vertical;
    width:100%;
}

#paramList input{
    max-width:60px;
    position:absolute;
    right:6px;
}

.list-nostyle{
    list-style:none;
    margin:0;
    padding:0;
}

#minicanvas canvas {
	margin:0px;
}
#barCanvas{
	cursor:pointer;
}
.hiddenPanel{
	display:none;
}
.displayPanel{
	/*background-color:#FFF5EB;*/
	border:2px solid #AAAAAA;
	padding:10px;
	margin:0;
    position: relative;
}
#graphCanvasPanel{
	width:530px;
}
#correlationCanvasPanel{
	width:400px;
}
#mainTable td{
	vertical-align:top;
	top:0;
}
#filesTable {
	border:1px solid black;
	width:100%;
	margin-bottom:10px;
	text-align:center;
	/*		vertical-align:top;*/
}
#filesTable th{
	border:1px solid black;
	text-align:center;
	/*		vertical-align:top;*/
}
#filesTable tr{
	border:1px solid black;
	/*		vertical-align:top;*/
}
#filesTable td{
	border:1px solid black;
	height:40px;
	color:black;
	font-weight:bolder;
	background-color:#FF6666;
}
#filesTable td.hover{
	background-color:#CCCC00;
}
#filesTable td.done{
	background-color:#33CC33;
}
#multiDragInput.hover{
	background-color:#CCCC00;
}
#multiDragInput.done{
	background-color:#33CC33;
}
#webGLPanel ul{
	list-style:none;
	margin:0;
	padding:0;
}
#webGLPanel ul li{
	display:inline;
	margin-right:20px;
}
#webGLPanel ul li input{
	display:inline;
	margin:5px;
	vertical-align:middle;
}
#cameraControls ul{
	list-style:none;
	margin:0;
	padding:0;
}
#cameraControls ul li{
	display:inline;
	margin-right:20px;
}
#cameraControls ul li input{
	display:inline;
	margin:5px;
	vertical-align:middle;
}
#graphSelectPop{
    margin-top:50px;
}
#graphSelectPop ul{
	list-style:none;
	margin:0;
	padding:0;
}
#graphSelectPop ul li{
	display:inline;
	margin-right:20px;
}
#graphSelectPop ul li input{
	display:inline;
	margin:5px;
	vertical-align:middle;
}

#webGLPanel canvas{
	border:1px solid black;
}